*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: Georgia, Utopia, Charter, serif;
  font-size: 1.1em;
  line-height: 1.25;
  color: #111;
  background-color: #eee;
}

a {
  color: #1c4f98;
}

a:hover {
  color: #16253c;
  text-decoration: none;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.content {
  padding: 2rem;
}

header {
    text-align: center;
}

.logo {
    max-height: 10rem;
}

header h1 {
    padding-top: 0.1em;
    line-height: 1em;
}

.nav-current {
    color: #111;
    text-decoration: none;
}

.nav-external {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==)
    no-repeat right;
    padding-right: 13px;
}

footer {
    padding-top: 1em;
    text-align: center;
    font-style: italic;
    font-size: .75em;
    color: #888;
}

p {
  padding-bottom: .7rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding: 0.3em 0;
}

ul, ol, nav {
    padding-bottom: .7rem;
}

li {
    padding-bottom: .5em;
}

h1 {
}

.archive-entry {
    margin-bottom: 1.3em;
}

.anchor-link {
    font-size: 0;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAzAAAAMwB6wBQKQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAESSURBVDiNjZMxjsJADEVf0IKgSJo0uUgkzoHEnbagSxVqLpAzIAVpC8oo54jSbOUt+AEzGpItRsl4/O0//48xM5YWcABaYAB64BvYmhlLwASoANPqgF/934HdEvis5B9gr3gBXBQ/zRWoldQCWXBWiEn/CbwGRuAKpMAXUAKJy+mAIQrWNwdWwAZoxKbU2V77W3jnWp1zxTy4EZNMmhhwjAl2jXRutE+liQHV00ZnVaukGHil4qZmibAcnVWZaL6BnSajrunF5Kbkyecy0jn3AgeiMwBdIGYpJqlojzHwVKDXoyiCg8wJVs88OE5KukxF5PNk1VOwTwV2PAbDxKTjNTzVHNjbuOUxor00aYHDf0b9D1XxgQ6AvmpRAAAAAElFTkSuQmCC");
    vertical-align: middle;
    opacity: 0.3;
    transition: opacity 0.2s;
}

.anchor-link:hover {
    opacity: 1;
}
